$fontStack: Montserrat, Arial, Tahoma, sans-serif;
$bold: 700;
$regular:300;
$transform:uppercase;
$small:14px;
$medium:60px;
$large:90px;
$white: #fff;
$black: #000;
$shadow: #232323;
$grey: #92a1a5;
$strawberry: #ff343d;